.main {
	width: 50%;
	border: 1px solid #e2e2e2;
	border-radius: 1%;
	margin-top: 4%;
	margin-left: 4%;
	background-color: whitesmoke;
}

.user_action {
	display: inline-block;
	position: relative;
	width: 49%;
	vertical-align: text-top;
}

.inner_container {
	padding: 5%;
}

.registerform {
	border-right: 1px solid #e2e2e2;
}

.loginform {
	padding-left: 10%;
}

.root_logo {
	margin: 0 auto;
	width: 30%;
	height: 15%;
	background: url("/QnA/resources/images/logo_root.png") no-repeat;
}